<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpapercave.com/wp/wp1989423.jpg);">
  <div class="container">
    <h1>Cocktailist</h1>
    <p>Never trust any complicated cocktail that remains perfectly clear until the last ingredient goes in, and then immediately clouds</p>
    <%= link_to "create your cocktail", new_cocktail_path , class: "btn btn-flat" %>
  </div>
</div>
<div class="container">
  <h1>All our cocktails</h1>


  <div class="cards">
  <% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill unless cocktail.photo.url.blank? %>')">

      <h3> <strong> <%= link_to cocktail.name, cocktail_path(cocktail.id) %></strong> </h3>

    </div>
  <% end %>

  <div class=" card-category" style ="background-color:  rgb(0, 132, 137)">
    <h3><%= link_to '+ create a new cocktail ', new_cocktail_path %></h3>
  </div>
</div>
